{% extends "index.html" %}{% block styles %}
<style>
    .row .col-12{
        max-width: 500px;
        margin: 0 auto;
    }
</style>
{% endblock %}{% block page_content %}
<div class="row mt-2">
    <div class="col-12">
        <h3 class="text-center">Please enter a new password!</h3><br>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn btn-primary" type="submit" value="Change password">
        </form>
    </div>
</div>
{% endblock %}{% block script %}
<script>
    $( () => {
        $('form input').addClass('form-control')
    });
</script>
{% endblock %}